
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
header{
    height: 100%;
    background-color: #397534ff;
}
header img{
    width: 100%;

}
body
{
    background-color: #ffdd57ff;
    margin: 0px;
}
pre{
    font-style: italic;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-size: large;
}
span{
    font-weight: bold;
    font-style: underline;
    text-align: center;
}
.Contenedor{
    width: 100%;
    
    display: flex;
    margin-top:50px;
}

.item{
    width: 20%;
    height: 250px;
   
    padding-right:6%;
    align-items: center;
    align-content: center;
}
.item img{
    width: 100%;
    height: 100%;
    padding: 30px;
    opacity: 0.5;
}
.item img:hover{
    scale: 120%;
    opacity: 1;
    
}
