header{
    height: 100%;
    background-color: #397534ff;
}
header img{
    width: 100%;

}
.Contenedor{
    width: 100%;
    border:dashed 2px red;
    display: flex;
    margin-top:50px;
}

.item{
    width: 20%;
    height: 200px;
    border:solid 1px green;
    padding-right:6%;
    align-items: center;
    align-content: center;
}
.item img{
    width: 100%;
    height: 100%;
    padding: 30px;
}

