*{ 
    color: aliceblue;
}

#banner{
    background-image: url("../imagenes/logo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color:red;
    width: 80%;
    height:400px;
    margin:auto;
    border:solid red 2px;
}


.galeria-contenedor
{ display:flex;
 
 }
.imagen{
    flex:1;
    width:25%;
    heigth:25%;
    border: 2px Solid green;
}
    
