*{ 
    color: aliceblue;
}

#banner{
    background-image: url("../imagenes/logo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color:red;
    width: 80%;
    min-width: 100vw;
    min-height: 100vh; 
    margin:auto;
    border:solid red 2px;
}


.galeria-contenedor
{ display:flex;
  border: solid blue 1px;  
 
 }
.imagen{
    flex:auto;
    width:25%;
    height:25%;
    border: 2px Solid green;
}
    
