*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    list-style: none;
   text-decoration: none;
}
/* este es el menú*/
.menuuu{
    width: 100%;
    background-color: rgb(180, 208, 212);
}
.menu ul{
    list-style:none;
    display: flex;
    flex-direction: row;

}
.menu li{
    border-right: 0px solid rgb(255, 255, 255);
}
.menu li:hover{
    background-color: rgba(255, 255, 255, 0.747);
}
.menu li a{
    display:block;
    padding: 15px 60px;
    color: rgb(0, 0, 0);
    text-decoration:none;
}
#part1{
    color: #ffffff;
    font-size: 70px;
    margin-left: -50%;
}
.header{
    background-image:linear-gradient( 
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)),
        url(../imagenes/oceanos.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: 100%;
    min-height: 50vh;
    position: relative;

}
body{
    background-color: #005c63;
}
.titul{
    margin:55px 690px;
}
.titulo{
    font-size: 26px;
    margin-top: 2%;
    width: auto;
    margin-left: 400px;
    color:rgb(255, 255, 255);
}
img{
    border-radius: 50%;
}

.cuerpo{
    float:left;
    display:flex;
    /*flex-direction: column;*/
}
.imagen{
    margin-top: 50px;
    align-content: center;
    width: 350px;
}
.parrafo_1{
    display:flex;
    margin-top: 5%;
    align-items:20px ;

    
}
.tit{
    color:white;
}
p{
    margin-top:20px;    
    font-size: 17px;
    color:rgb(233, 248, 255);
}
.texto{
    margin-left: 40px;
   
}
.parrafo_2{
    display:flex;
    margin-top: 5%;

    
}
.tit2{
    color:white;
   

}
.texto2{
    margin-left: -660px;
    margin-top:190px
}

.LICOMPANIA{
    background-color:rgb(131, 154, 158);
    opacity: 1;
}



.logo{
    position: absolute;
    scale: 0.6;
    z-index: 1;
    margin-left: 83.5%;
    margin-top: -1.5%;
}