*{
    color: beige;
    font-family: "Frank Ruhl Libre", serif;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../imagenes/adri.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    position: relative;
    min-height: 100vh;
   
}
img{
    border: 100%;
    margin: auto;
    padding-top: 15%;
    float: right;
}
h1 {  
    font-size: 70px;
    max-width: 50%;
    min-width: 40%;
    text-align: center;
    margin:auto;
    }
dl{
    font-size: 35px;
    max-width: 60%;
    min-width: 50%;
    text-align:left;
    margin:auto;
    padding-top: 3%;
}
dd{
    font-size: 20px;
    max-width: 60%;
    min-width: 50%;
    text-align:left;
    margin:auto;
    padding-top: 3%;
}
p{
    font-size: 20px;
    max-width: 60%;
    min-width: 50%;
    text-align:left;
    margin:auto;
    padding-top: 3%;
}


.galeria-contenedor{ /*titulo*/
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: minmax(200px, auto);
    gap:100px;
    padding:50px;
    margin-top: 300px;
    grid-auto-flow: dense;
    }
    .galeria-item {
        display:flex;
        border-radius: 4px;
        background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.88),80%),
            url("../imagenes/degradacion.jpg");
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .galeria-b {
        display:flex;
        border-radius: 4px;
        background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.88),80%),
            url("../imagenes/destacado.jpg");
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .galeria-b:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    .galeria-item:hover {
        filter: opacity(0.9);
        transform: scale(1.04);
    }
    @media(min-width:600px){
        .alto{
            background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.88),80%),
            url("../imagenes/agroquimicos.jpg");
        grid-column: span 1;
        }
        .bajo{
            background-image: linear-gradient(rgba(255,255,255,0), rgba(0,0,0,0.88),80%),
            url("../imagenes/solution.jpg");
        grid-column: span 1;
        }
        }

